# Environment variables
.env

# Dependencies
node_modules/

# Build output
dist/

# Logs
*.log
npm-debug.log*

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db 